.philo-content {
  overflow: hidden;
}

.philo-inner {
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
}

.philo-inner.open {
  max-height: 200px;   /* adjust based on content */
  opacity: 1;
}
